{% extends 'base.html.twig' %}

{% block title %}Fiche Jeu{% endblock %}

{% block body %}

<h1>Fiche du Jeu</h1>
{# game card #}
<div class="rounded shadow overflow-hidden border">
	{# contenu #}
	<div class="p-5 d-flex flex-column gap-5 align-items-center">
		{# image principale #}
		<img src="{{jeu.image}}"
		class="img-thumbnail"
		draggable="false"
		/>
		{# game info #}
		<div class="w-100">
			<h1>{{ jeu.titre }}</h1>
			<a href="{{path('fiche_editeur', {'id':jeu.editeur.id})}}" class="text-gray-600 underline">{{ jeu.editeur.nom }}</a>
			<a class="badge" style="background-color: {{jeu.genre.couleur}};"
			href="{{ path('app_jeu_filtre', {'genre': jeu.genre.libelle}) }}">{{ jeu.genre.libelle }}</a> <br>
			<span class="text-secondary">{{ jeu.ventes }} copies vendues</span>
			{# description #}
			<hr class="my-4">
			<h3 class="text-secondary" style="font-variant: small-caps;">description</h3>
			<p class="text-justify">
				{% if jeu.description == null %}
					Aucune description
				{% else %}
					{{jeu.description}}
				{% endif %}
			</p>
			<hr class="my-4">
			{# menu achat #}
			<div class="d-flex gap-3 align-items-baseline">
				<a href="{{path('app_panier_add', {'id': jeu.id})}}" class="btn btn-primary">Ajouter au panier</a>
				{# <a href="#" class="block text-center grow rounded text-white bg-gray-700 hover:bg-gray-800 py-1 px-2">Ajouter à la wishlist</a> #}
				<span class="badge bg-secondary">
				{{ jeu.prix|number_format(2, '.') }}€
				</span>
			</div>
		</div>
	</div>
</div>

{% endblock %}